.poppins-thin {
  font-family: "Poppins", sans-serif;
  background: rgb(244, 247, 255);
height: 1022px;
}
nav{
border-radius: 16px;
background: rgb(255, 255, 255);
justify-content: space-between;
padding: 2%;
margin-left: 6%;
margin-right: 6%;
}
.twenty-three{
    border-radius: 32px;
background: rgb(244, 247, 255);
width: 90px;
height: 50px;
padding-left: 17%;
}
.theme-img{
   border-radius: 32px;
background: rgb(244, 247, 255);
width: 50px;
height: 50px;
}
.card-container{
    border-radius: 16px;
background: rgb(255, 255, 255);
margin-left: 6%;
margin-right: 6%;
margin-top: 2%;
width: 870px;
height: 818px;
}
.card-container-4{
    border-radius: 16px;
background: rgb(244, 247, 255);
width: 300px;
height: 310px;
}
.fix{
color: rgb(0, 48, 60);
font-size: 20px;
font-weight: 450;
}
.debug{
color: rgb(0, 0, 0);
font-size: 14px;
font-weight: 400;
line-height: 21px;
opacity: 0.5;
box-sizing: border-box;
border: 0.5px dashed rgba(55, 82, 253, 0);
border-radius: 8px;
background: rgb(255, 255, 255);
width: 224px;
height: 92px;
padding: 10px;
}
.deadline{
color: rgb(0, 48, 60);
font-size: 14px;
font-weight: 500;
line-height: 24px;
opacity: 0.5;
}
.task{
  color: rgb(0, 48, 60);
font-size: 14px;
font-weight: 500;
line-height: 24px;
opacity: 0.8;
}
.card-container-1{
border-radius: 12px;
background: rgb(244, 247, 255);
    width: 220px;
height: 80px;
}
.assigned{
    background: rgb(255, 255, 255);
}
.card-container-2{
border-radius: 12px;
background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
width: 320px;
height: 80px;
cursor: pointer;
}
.card-container-3{
    border-radius: 12px;
background: #f1f5f9;
width: 200px;
height: 80px;
}
.calender-img{
    background: rgb(255, 255, 255);
}
.day {
      color: #0f172a;
      font-weight: normal;
}
.date {
      color: #0f172a;
      font-weight: bold;
      border-top: 2px solid red;
      display: inline-block;
      padding-top: 5px;
}
.firstline-card-container{
    border-bottom: 0.8px dashed rgba(55, 82, 253, 0.2);
}
.activity-log{
    border-radius: 16px;
background: rgb(255, 255, 255);
width: 255px;
height: 818px;
padding: 1%;
margin-left: -5%;
margin-top: 2%;
}
#complete-btn-1.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}
#complete-btn-2.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}
#complete-btn-3.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}
#complete-btn-4.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}
#complete-btn-5.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}
#complete-btn-6.completed{
background-color: #3752FD !important;
opacity: 0.2;
cursor: default;
}